@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
// color

$green: #99d930;
$black: #252525;
$grey: #c4c4c4;

// ## Typography

$ff-pri: "Lato", sans-serif;

$Font-size: 100%;

$fs-xxs: 0.75rem;
$fs-xs: 0.875rem;
$fs-s: 1rem;
$fs-m: 1.125rem;
$fs-l: 1.5rem;
$fs-xl: 1.875rem;
$fs-xxl: 2.25rem;
$fs-xxxl: 3rem;
$fs-4xl: 4.25rem;

$fw-main: 400;
$fw-bold: 700;
